.searchbar-container {
  display: flex;
  background-color: #1565c0;
  height: 64px;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: 600;
  color: #ffffff;
}

ul {
  flex: 1 1 auto;
  list-style: none;
  padding: 0;
  display: flex;
}

ul li {
  padding: 0 32px;
  align-self: center;
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #ffffff;
}

app-search-bar {
  margin-right: 32px;
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 1em;
  }
}
